@import '../../scss/variables';

.navbar{
  width: calc(100% - 240px);
  right: 0;
  left: auto;
  min-height: 100px;
  padding: 1rem 0;
  background: #23262c;

  .menu{
    align-items: center;
    justify-content: flex-end;
    .nav-link{
      margin: 0;
      border:none;
    }
    .nav-link:hover{
      background-color: #333;
      transition: all ease 0.5s;
    }
  }
}

.story-wrapper {
  white-space: nowrap;
  width: calc(100% - 120px);
  display: flex;
  align-items: flex-start;
  color: #fff;
  position: relative;
  max-width: 700px;

  .story-nav-btn{
    height: 48px;
  }

  p{
    position: absolute;
    top: 110%;
    font-size: 0.75rem;
    color: #666;
  }

  .more-stories-btn{
    background-color: #444;
    font-size: 0.9rem;
    padding:0.25rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    color: #888;
  }

  .story:hover .more-stories-btn{
    background-color: #666;
    transition: all ease 0.5s;
    color: #eee;
  }
  .stories{
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    align-items: center;
    .story{
      cursor: pointer;
    }
    .story:hover{
      border-color: #aaa;
      transition: all ease 0.5s;
    }
    .story.active {
      border-color: white;
    }
  }
}

.story-wrapper.mobile{
  position: fixed;
  top: 0;
  background: #23262c;
  margin: 0;
  left: 0;
  padding-top: 1.5rem;
  width: 100%;
}
.story {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  border-radius: 1.5rem;
  border: 2px solid #585b63;

  img {
    width: 1.8rem;
    border: 1px solid #585b63;
    border-radius: 50%;
  }
}
.nav-item:last-child .story{
  border: 2px solid #585b63;
}
@media screen and (min-width: 993px){
  .navbar{
    flex-direction: row-reverse;
    position: fixed;
    padding: 0 1rem;
    z-index: 1100;
    .navbar-toggler{
      display: none;
    }
  }
}

@media screen and (max-width: 992px){
  .navbar{
    width: 100%;
    .menu {
      flex-basis: auto;
      .navbar-nav{
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }
  .story-wrapper{
    margin-top: 1rem;
    width: calc(100% + 30px);
    max-width: none;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: space-between;
    >p{
      padding: 0 0.5rem;
    }
  }
}
@keyframes fadeScale{
  0%{
    transform: translateY(10px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}